<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.ac.uns.ftn.pma.event_organizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyACF0eBzPtMZIbnjc0hAcnt3cnHh0L6VjQ" />

        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                        android:screenOrientation="portrait"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.EventsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.AddNewEventActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.EventsActivity" />
        <activity
            android:name=".activity.EventActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.EventsActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.PlaceOfferOverviewActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.EventActivity" />
        <activity
            android:name=".activity.ShoppingItemOverviewActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.EventActivity" />
        <activity
            android:name=".activity.NewPlaceOfferActivity"
            android:label="New place offer"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.EventActivity" />
        <activity
            android:name=".activity.NewShoppingItemActivity"
            android:label="New shopping item"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.EventActivity" />
        <activity
            android:name=".activity.EditPlaceOfferActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.PlaceOfferOverviewActivity" />
        <activity
            android:name=".activity.EditShoppingItemActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.ShoppingItemOverviewActivity" />

        <activity android:name=".activity.InvitationListViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.InvitationsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.InvitationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.UserProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.UpdateUserProfileActivity"
            android:screenOrientation="portrait"></activity>

        <service android:name=".services.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>